---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/sstarr/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1499288828'
      Etag:
      - W/"84b8256a82bb320625781755c72e0b28"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/18957/repos?page=2>;
        rel="next", <https://api.github.com/user/18957/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":29312543,"name":"battlebots","full_name":"sstarr/battlebots","owner":{"login":"sstarr","id":18957,"avatar_url":"https://avatars3.githubusercontent.com/u/18957?v=3","gravatar_id":"","url":"https://api.github.com/users/sstarr","html_url":"https://github.com/sstarr","followers_url":"https://api.github.com/users/sstarr/followers","following_url":"https://api.github.com/users/sstarr/following{/other_user}","gists_url":"https://api.github.com/users/sstarr/gists{/gist_id}","starred_url":"https://api.github.com/users/sstarr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sstarr/subscriptions","organizations_url":"https://api.github.com/users/sstarr/orgs","repos_url":"https://api.github.com/users/sstarr/repos","events_url":"https://api.github.com/users/sstarr/events{/privacy}","received_events_url":"https://api.github.com/users/sstarr/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/sstarr/battlebots","description":"Battlebots
        arena for January Bath Ruby meetup","fork":true,"url":"https://api.github.com/repos/sstarr/battlebots","forks_url":"https://api.github.com/repos/sstarr/battlebots/forks","keys_url":"https://api.github.com/repos/sstarr/battlebots/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sstarr/battlebots/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sstarr/battlebots/teams","hooks_url":"https://api.github.com/repos/sstarr/battlebots/hooks","issue_events_url":"https://api.github.com/repos/sstarr/battlebots/issues/events{/number}","events_url":"https://api.github.com/repos/sstarr/battlebots/events","assignees_url":"https://api.github.com/repos/sstarr/battlebots/assignees{/user}","branches_url":"https://api.github.com/repos/sstarr/battlebots/branches{/branch}","tags_url":"https://api.github.com/repos/sstarr/battlebots/tags","blobs_url":"https://api.github.com/repos/sstarr/battlebots/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sstarr/battlebots/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sstarr/battlebots/git/refs{/sha}","trees_url":"https://api.github.com/repos/sstarr/battlebots/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sstarr/battlebots/statuses/{sha}","languages_url":"https://api.github.com/repos/sstarr/battlebots/languages","stargazers_url":"https://api.github.com/repos/sstarr/battlebots/stargazers","contributors_url":"https://api.github.com/repos/sstarr/battlebots/contributors","subscribers_url":"https://api.github.com/repos/sstarr/battlebots/subscribers","subscription_url":"https://api.github.com/repos/sstarr/battlebots/subscription","commits_url":"https://api.github.com/repos/sstarr/battlebots/commits{/sha}","git_commits_url":"https://api.github.com/repos/sstarr/battlebots/git/commits{/sha}","comments_url":"https://api.github.com/repos/sstarr/battlebots/comments{/number}","issue_comment_url":"https://api.github.com/repos/sstarr/battlebots/issues/comments{/number}","contents_url":"https://api.github.com/repos/sstarr/battlebots/contents/{+path}","compare_url":"https://api.github.com/repos/sstarr/battlebots/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sstarr/battlebots/merges","archive_url":"https://api.github.com/repos/sstarr/battlebots/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sstarr/battlebots/downloads","issues_url":"https://api.github.com/repos/sstarr/battlebots/issues{/number}","pulls_url":"https://api.github.com/repos/sstarr/battlebots/pulls{/number}","milestones_url":"https://api.github.com/repos/sstarr/battlebots/milestones{/number}","notifications_url":"https://api.github.com/repos/sstarr/battlebots/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sstarr/battlebots/labels{/name}","releases_url":"https://api.github.com/repos/sstarr/battlebots/releases{/id}","deployments_url":"https://api.github.com/repos/sstarr/battlebots/deployments","created_at":"2015-01-15T18:51:44Z","updated_at":"2015-01-15T21:04:50Z","pushed_at":"2015-01-15T21:04:50Z","git_url":"git://github.com/sstarr/battlebots.git","ssh_url":"git@github.com:sstarr/battlebots.git","clone_url":"https://github.com/sstarr/battlebots.git","svn_url":"https://github.com/sstarr/battlebots","homepage":"http://www.meetup.com/bathruby/events/219211921/","size":117,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":22379819,"name":"bi","full_name":"sstarr/bi","owner":{"login":"sstarr","id":18957,"avatar_url":"https://avatars3.githubusercontent.com/u/18957?v=3","gravatar_id":"","url":"https://api.github.com/users/sstarr","html_url":"https://github.com/sstarr","followers_url":"https://api.github.com/users/sstarr/followers","following_url":"https://api.github.com/users/sstarr/following{/other_user}","gists_url":"https://api.github.com/users/sstarr/gists{/gist_id}","starred_url":"https://api.gi[...]
