<p id="notice"><%= notice %></p>

<h1>Lang-o-Tron</h1>

<table>
  <thead>
    <tr>
      <th>Account</th>
      <th>Favourite language</th>
    </tr>
  </thead>

  <tbody>
    <% @git_hub_accounts.each do |git_hub_account| %>
      <tr>
        <td><%= git_hub_account.name %></td>
        <td><%= git_hub_account.favourite_language %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render 'form', git_hub_account: GitHubAccount.new %>
